{% extends 'base.html.twig' %}

{% block title %}
  Lights ON Game
{% endblock %}

{% block body %}
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>Lights ON Game</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://bitbucket.org/sibmaster/lights_on_game">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-md-push-4">
          <div class="plot--block js--plot">
            {% for i in 0..24 %}
              <div class="plot--cell {% if i in plot %}plot--cell-state-on{% endif %}" data-index="{{ i }}">
                <div class="plot--lamp plot--lamp-view-dark">
                </div>
                <div class="plot--lamp plot--lamp-view-light">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-4 col-md-push-4 text-center">
          <div class="info-turns--block">
            <span class="info-turns--title">Turns: </span><span class="info-turns--value js--info-turns">0</span>
          </div>
          <div class="buttons">
            <a class="btn btn-primary js--undo">Undo turn</a>
          </div>
        </div>

        <div class="col-md-4 col-md-pull-8 text-center">
          <div class="buttons">
            <div class="button">
              <a class="btn btn-primary js--start">Start new game</a>
            </div>
            <div class="button">
              <a class="btn btn-primary js--winners">Winners</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalTemplate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


{% endblock %}
