
@font-face {
  font-family: 'ds-digi';
  src: url("../fonts/ds-digi.ttf") format("truetype");
}

.plot--block {
  background-color:#1E1E1E;
  overflow: hidden;
  border-radius: 3px;
  border: 2px solid #00427B;
}

.plot--cell {
  position: relative;
  width: 20%;
  float: left;
  padding-bottom: 20%;
  margin: 0%;
  overflow: hidden;
  cursor: pointer;
}

.plot--lamp {
  position: absolute;
  height: 90%;
  width: 90%;
  margin: 5%;
  border-radius: 5%;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.plot--lamp-view-dark {
  background-image: linear-gradient(135deg, #848484, #3F3F3F);
  opacity: 0.75;
}

.plot--cell:hover .plot--lamp-view-dark,
.plot--cell:focus .plot--lamp-view-dark {
  opacity: 1;
}

.plot--lamp-view-light {
  background-image: linear-gradient(135deg, #00427B, #1B94FB);
  opacity: 0;
}

.plot--cell-state-on .plot--lamp-view-light{
  opacity: 1;
}

.info-turns--block{
  font-size: 32px;
}

.info-turns--value{
  font-family: "ds-digi", sans-serif;
  font-weight: bold;
}

.info-turns--title{
}

.buttons{

}
.button{
  padding: 10px;
}