<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Congratulations! You win!</h4>

</div>
<div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="inputName">Enter your name</label>
      <input class="form-control" id="inputName" name="name" placeholder="Enter name" value="{{ name }}" type="text">
    </div>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-primary js--action" data-action="sendWinnerName">Send</button>
</div>
