<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title text-center">Winners</h3>

</div>
<div class="modal-body">

  <table class="table table-hover text-center">
    <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Name</th>
      <th class="text-center">Turns</th>
      <th class="text-center">Date & Time</th>
    </tr>
    </thead>
    <tbody>
    {% for winner in winners %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ winner.name }}</td>
        <td>{{ winner.turns }}</td>
        <td>{{ winner.createdAt }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

</div>


